.header-name::before {
    content: "Web";
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.header-name {
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    display: flex;
    padding-left: 215px;
}

.footer-name::before {
    content: "Web";
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer-name {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.menu {
    display: flex;
}

.menuu:hover {
    color: #2196F3;
    fill: #2196F3;
}

.menuu {
    text-decoration: none;
    display: block;

    position: relative;
}

.menuu {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    fill: #212121;
}

.menuu:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

.menuu::after {
    content: "";

    background-color: #2196F3;
    border-radius: 10px;
    height: 3px;
    width: 100%;

    position: absolute;
    top: 225%;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1), transform 500ms cubic-bezier(0.83, -0.08, 0.32, 1);
}
.menuu1::before{
    content: "";
    background-color: #2196F3;
    border-radius: 10px;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 225%;
    bottom: 0;
}
.btn {
    border: none;
    fill: #FFF;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.header-menu {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    list-style: none;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    
}
.header-contacts {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-left: 500px;
    grid-gap: 50px;
}


.main-text {

    width: 696px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
        width: 575px;
        height: 38px;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        flex-shrink: 0;


}
.main-menu{
    display: flex;
    gap: 8px;
    display: flex;
        justify-content: center;
        padding-top: 30px;
        
}
.main-list:hover{
    transform: scale(1.05);
}
.main-list{
    list-style: none;
    display: flex;
        
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        flex-shrink: 0;
        border: none;
        border-radius: 4px;
            background: #F5F4FA;
            transition-duration: 500ms;
                transition-property: transform;
}
.main-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border: none;
    border-radius: 4px;
    background: #F5F4FA;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.48px;
    height: 38px;
    transition-property: background-color, color;
    transition-duration: 500ms;

}
.main-buttons:hover{
    background-color: #2196F3;
    color: white;
}
.cards1{
    display: flex;
    gap: 30px;
}
.cards2{
    display: flex;
    gap: 30px;
    padding-top: 30px;
}
.cards3{
    display: flex;
    gap: 30px;
    padding-top: 30px;
}
.main-card{
   
}
.main-p1{
    color: #212121;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        /* 200% */
        letter-spacing: 1.08px;
        padding-left: 7px;
}
img{
    box-sizing: border-box;
}
.main-p2{
    color: #757575;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 187.5% */
        letter-spacing: 0.48px;
            padding-left: 7px;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    width: 136px;
    height: 21px;
    flex-shrink: 0;
}
.footer-inf {
    background-color: #2F303A;
    padding-left: 215px;
    width: 100vw;
    height: 292px;
    flex-shrink: 0;
    box-sizing: border-box;

}
.footer-name::before {
    content: "Web";
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer-name {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.addres {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    width: 231px;
    height: 21px;
    flex-shrink: 0;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    width: 136px;
    height: 21px;
    flex-shrink: 0;
}
.footer-invite {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

}
.card-icon {

    background-size: 70%;
    background-position-x: center;

    background-position-y: center;
    width: 44px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-icon-inst:hover {
    background: url(images/Ellipse\ \(1\).png) no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    fill: white;

}
.card-icon-inst {
    fill: #AFB1B8;
}
body{
    overflow-x: hidden;
}

.product {
    transition-duration: 500ms;
    transition-property: transform;
}
.product:hover{
    transform: scale(1.03);
}

.product {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid whitesmoke;
}

.product-thumb {
    overflow: hidden;
    position: relative;
}

.product-meta {
    padding: 15px;
}

.product-name .product-price {
    margin-top: 0;
    margin-bottom: 10px;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.90);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1000ms ease-out , opacity 1000ms cubic-bezier(0.83, -0.08, 0.32, 1) ;
}

.product:hover .product-overlay {
    transform: translateX(0);
    opacity: 1;
}

.product-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    opacity: 50%;
    transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1);
    transform: translate(-46%, -60%);
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: 0.54px;
    width: 322px;

}

.product:hover .product-actions {
    opacity: 0.9;
}



.product-thumb:hover::before {
    opacity: 0;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}